################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MouldSpecification/FileContentIndex/b9e3442f-cc51-4898-b725-16103ae54e12.vsidx
*.vsidx
/.vs/MouldSpecification/v17/.suo
/.vs/MouldSpecification/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.gitignore
