USE [InjectionMouldMAN]
GO
/****** Object:  StoredProcedure [dbo].[SelectMaterialGrade]    Script Date: 3/11/2025 5:06:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SelectMaterialGrade]
AS
SELECT [MaterialGradeID]
      ,[MaterialID]
      ,[Supplier1ID]
      ,[Supplier2ID]
      ,[MaterialGrade]
      ,[GPCode]
      ,[MachineTypeFlag]
      ,[GPCompanyFlag]	  
      ,[Colour]
      ,[UVMasterBatch]
      ,[MineralFilledPC]
      ,[GlassFilledPC]
      ,[FlameRetardant]
      ,[HotWireTest]
      ,[PackSize]
      --,[MOQ]           --now in table SupplierPolymerPricing
      --,[CostPerKg]     --now in table PolymerOrderQty
      --,[CostDate]      --now in table PolymerOrderQty as UnitCost
      --,[LeadTime]	     --now in table SupplierPolymerPricing
      ,[FoodGrade]
      ,[Medical]
      ,[TDSDoc]
      ,[MSDSDoc]
      ,[Comment]
      ,[IsActive]
      ,[last_updated_by]
      ,[last_updated_on]
  FROM [InjectionMouldMAN].[dbo].[MaterialGrade] 
  
ORDER BY MaterialGrade

